/*
COLORS:

Light Blue: #81D4FA
Medium Blue: #03A9F4
Dark Blue: #01579B

*/

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body CSS */

body {
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 40px;
}

/* Header CSS */

.header {
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba(129, 212, 250, 0.8), rgba(3, 168, 244, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    /* Clip path CSS */
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0% 75vh);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 75px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;

    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 15px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 17px;
    animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(35px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        transform: translateX(-35px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}