// COLORS
$color-primary: #03A9F4;
$color-primary-light: #81D4FA;
$color-primary-dark: #01579B;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;