.header {
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    /* Clip path CSS */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95vh, 0% 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0% 75vh);
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95vh, 0% 85vh);
        clip-path: polygon(0 0, 100% 0, 100% 95vh, 0% 85vh);
    }
    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }
    &__logo {
        height: 75px;
    }
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}