body {
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 40px;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    margin-bottom: 60px;
    &--main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 15px;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 17px;
        animation: moveInRight 2s ease-out;
    }
}